h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}

#submitButton {
  margin-top: 20px;
}

#myCheckbox {
  margin-left: 12px;
}

#submitForm {
  margin-top: 40px;
}

#taskInTable {
  max-width: 300px;
}

#delete {
  width: 60px;
}

#edit {
  width: 60px;
}

#save {
  width: 60px;
}

.edit {
  border: solid 2px orange;
}

.not-edit {
  border: none;
}

.crossed {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
  }

  td,
  th {
    width: 100%;
    max-width: 300px;
    display: block;
    padding: 8px 12px;
    box-sizing: border-box;
    text-align: center;
  }

  thead {
    display: none;
  }

  td button,
  td input[type="checkbox"],
  td input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0;
  }
}
